a {
    text-decoration: none;
    &:hover {
        color: $secondary_color;
    }
}
body {
    padding-top: 93px;
}
.main-btn {
    color: $main_color;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: $secondary_color;
    border: 2px solid $secondary_color;
}
.secondary-btn {
    background-color: transparent;
    border: 2px solid $secondary_color;
    color: $main_text;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.secondary-c {
    color: $secondary_color;
}
.section-title {
    text-align: center;
    color: $main_text;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1.4em + 0.7vw);
}
