#main {
    background-color: $main_color;
    padding: $section_padding;
    overflow: hidden;
    .section-main-content {
        color: #fff;
        padding: 50px 0;
        &__sale {
            font-family: 'Raleway', sans-serif;
            font-size: 1.25em;
            font-weight: 400;
            font-feature-settings: 'lnum' on;
        }
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            letter-spacing: 1px;
            font-size: 3em;
        }
        &__features {
            display: flex;
            padding-left: 0;
            margin: gap 0;
            li {
                list-style-type: none;
                font-family: 'Raleway', sans-serif;
            }
            li:not(:first-child) {
                list-style-type: square;
                margin-left: 30px;
                &::marker {
                    color: $secondary_color;
                }
            }
        }
        &__buttons {
            button {
                padding: 10px;
                width: 30%;
            }
            a button {
                width: 60%;
                margin-left: 3%;
            }
        }
    }
}
