@media screen and (max-width: 1400px) {
    .nav-fixed {
        &__link {
            padding: 0.5em 0.8em;
        }
    }
}
@media screen and (max-width: 1200px) {
    .nav-fixed {
        &__link {
            padding: 0.5em;
            font-size: 1.1em;
        }
        &__phone {
            font-size: 1em;
        }
    }
}
@media screen and (max-width: 992px) {
    .nav-fixed {
        &__links {
            display: none;
        }
    }
}
@media screen and (max-width: 480px) {
    .nav-fixed {
        .desktop-logo {
            display: none;
        }
        .mobile-logo {
            display: block;
        }
        &__burger {
            display: flex;
        }
        &__links {
            transition: max-height 0.4s;
            max-height: 0;
            overflow: hidden;
            height: auto;
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 100%;
            align-items: center;
            width: 100%;
            background-color: $main_color;
            font-size: 1.3em;
            &.active {
                max-height: 600px;
                border-bottom: 2px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
}
